@font-face {
  font-family: 'Avenir';
  src: url('/site_media/fonts/AvenirLTPro-Black.woff2') format('woff2'),
  url('/site_media/fonts/AvenirLTPro-Black.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir';
  src: url('/site_media/fonts/AvenirLTPro-Heavy.woff2') format('woff2'),
  url('/site_media/fonts/AvenirLTPro-Heavy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir';
  src: url('/site_media/fonts/AvenirLT-HeavyOblique.woff2') format('woff2'),
  url('/site_media/fonts/AvenirLT-HeavyOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir';
  src: url('/site_media/fonts/AvenirLTStd-Book.woff2') format('woff2'),
  url('/site_media/fonts/AvenirLTStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/site_media/fonts/AvenirLT-BookOblique.woff2') format('woff2'),
  url('/site_media/fonts/AvenirLT-BookOblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}





@font-face {
  font-family: 'Futura';
  src: url('/site_media/fonts/FuturaBT-Medium.woff2') format('woff2'),
  url('/site_media/fonts/FuturaBT-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Papyrus';
  src: url('/site_media/fonts/Papyrus-Regular.woff2') format('woff2'),
  url('/site_media/fonts/Papyrus-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'Papyrus';
    /* src: url('/site_media/fonts/PapyrusLET-Bold.woff2') format('woff2'),
        url('/site_media/fonts/PapyrusLET-Bold.woff') format('woff'); */
    src: url('/site_media/fonts/PapyrusLET-Bold.woff2') format('woff2'),
        url('/site_media/fonts/PapyrusLET-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
