@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Economica');


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

*::-webkit-scrollbar{
    width: 5px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #4A4A4A;
}

*::-webkit-scrollbar-track{
	/*background-color: #F50000;*/

	border-radius: 10px;
}
body{
  background-color: #ffffff;
  overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6, .material-icons,p, ul li,a{
    color: rgba(232,227,219,0.9);
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-weight: 800;
    margin-bottom: 0.7rem;
}

h2, h3, h4{
    font-weight: 700;
    margin-bottom: 0.5rem;
}
h5, h6{
    font-weight: 300;
    margin-bottom: 0.4rem;
}
a{
    text-decoration: underline;
}

p, ul li,a, button.card{
    font-family: 'Montserrat', sans-serif;
}
ul li ul li{
    list-style: none;
}
ul li ul li:before{
    content: "- ";
    font-weight: bold;
}
blockquote{
    color: rgba(232,227,219,0.9);
    text-align: center;
    font-family: 'Economica', sans-serif;
    max-width: 75%;
    margin: 0 auto;
	text-shadow: 0px 1px 5px rgba(0,0,0,0.8);
}

blockquote:before{
    content: '“'

}
blockquote:after{
    content: '”.'

}

nav{
    pointer-events: none;
    user-select: none;
    display: block;
    position: fixed;
    width: 100%;
    height: auto;

    padding: 0.5rem 1rem;
    opacity: 0;
    background-color: rgba(35,28,19,0.5);
    -webkit-transition: all 1.5s; /* Safari */
            transition: all 1.5s;
}
nav.active{
    pointer-events: all;
    opacity: 1;
}
nav ul{
    flex-wrap:wrap;
        height: 100%;
        width: 100%;
    padding: 0.5rem 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    vertical-align: middle;
}

nav ul li{
    height: 100%;
    margin-bottom: 0.5rem;
    vertical-align: middle;
    padding: 0 0.5rem;
    border-left: 1px solid #fff;
    text-align: center;
    line-height: 1rem;
}
nav ul li:nth-child(1) a:hover{
    color:rgba(217, 224, 33, 1);
}
nav ul li:nth-child(2) a:hover{
    color:rgba(163, 71, 255, 1);
}
nav ul li:nth-child(3) a:hover{
    color:rgba(45, 185, 255, 1);
}
nav ul li:nth-child(4) a:hover{
    color:rgba(255, 35, 141, 1);
}
nav ul li:nth-child(5) a:hover{
    color:rgba(255, 162, 63, 1);
}
nav ul li:nth-child(6) a:hover{
    color:rgba(50, 255, 180, 1);
}

nav ul li:nth-child(1) a.active{
    color:rgba(217, 224, 33, 0.8);
}
nav ul li:nth-child(2) a.active{
    color: rgba(211, 71, 255,0.8);
}
nav ul li:nth-child(3) a.active{
    color:rgba(45, 185, 255, 0.8);
}
nav ul li:nth-child(4) a.active{
    color:rgba(255, 35, 141, 0.8);
}
nav ul li:nth-child(5) a.active{
    color:rgba(255, 162, 63, 0.8);
}
nav ul li:nth-child(6) a.active{
    color:rgba(50, 255, 180, 0.8);
}
nav ul li:first-child{
    border-left: none;
}

header{
    user-select: none;
    position: fixed;
    width: 100%;
    z-index: 100;
    opacity: 0;
    -webkit-transition: all 1.5s; /* Safari */
            transition: all 1.5s;
    z-index: -10;
}
header.active{
    opacity: 1;
    z-index: 1000;
}
header.top{
    display: block;
}
header h1{
    margin-bottom: 0;
    background-color: rgb(118, 101, 145);
    font-weight: 800;
    color: #fff;
}
header h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0;
    height: auto;

    z-index: 1000;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
    background-color: rgba(107,142,35, 0.8);
    border-top:    2px solid rgba(200, 220, 250, 0.2);
    /* border-left:   2px solid rgba(200, 220, 250, 0.4);
    border-bottom: 1px solid rgba(200, 220, 250, 0.8); */
    border-right:  1px solid rgba(200, 220, 250, 0.8);
    -webkit-border-radius: 0 1rem 0 0;
    -moz-   border-radius: 0 1rem 0 0;
            border-radius: 0 1rem 0 0;
    -webkit-transition: all 0.5s; /* Safari */
            transition: all 0.5s;
}

footer.active{

}

footer>*{
    vertical-align:middle;
}
footer #contact-close{
    user-select: none;
    height: 100%;
    line-height: 100%;
}


footer.active #contact-close p:last-child{
    display: none;
}
footer.active #contact-close p:first-child{
    display: flex;
}
footer #contact-close p:last-child{
    display: flex;
}
footer #contact-close p:first-child{
    display: none;
}
#contact-close p{
    justify-content:center;
    text-align: -webkit-center;
    text-align: center;
}
#contact-close i{

}
footer .info{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
section{
    position: relative;
    padding: 1rem;
    min-height: 110vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    /* overflow-x: visible; */
    overflow-x: hidden;
    margin-bottom: 105vh;
}

section>h1 {
    color: rgba(232,227,219,0.8);
    text-shadow: 0px 1px 5px rgba(0,0,0,0.8);
}

section:last-of-type{
    padding-bottom: 5vh !important;
    margin-bottom: 0 !important;
}
section.message{
    overflow: hidden;
}

#coverPage{

    background-position: center top;
    background-repeat: no-repeat;
    width: 100vw;
    height: 130vw;
    padding: 0;
    margin-bottom: 30vw;
}
.scroll-next{
    display: block;
    user-select: none;
    /* position: absolute; */
    position: fixed;
    left:  50%;
    right: 50%;
    width: 60px;
    margin: auto;
    color: #fff;
    z-index: 99;
    border: none;
    background: none;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 10px;
    box-shadow: 2px 5px 2px rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 1.5s ease;
    pointer-events: none;
    top: 80%;
}
.scroll-next.active{
  background-color: rgba(153, 12, 48,0.8);
  position: fixed;;
  opacity: 1;
  z-index: 1;
  pointer-events: all;
  cursor: pointer;
}

.scroll-next:hover{
    background-color: rgba(153,12,88,0.8);

}
.scroll-next i{
    font-size: 3rem;
    line-height: 3rem;
}

.card{
    background-blend-mode: multiply;
    user-select: none;
    padding: 1rem;
    margin: 0 0 1rem auto;
    border-top:    2px solid rgba(200, 220, 250, 0.2);
    border-left:   2px solid rgba(200, 220, 250, 0.4);
    border-bottom: 1px solid rgba(200, 220, 250, 0.8);
    border-right:  1px solid rgba(200, 220, 250, 0.8);
    -webkit-border-radius: 1rem;
    -moz-   border-radius: 1rem;
            border-radius: 1rem;
     box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.animated{
  opacity: 0;
}
.opacity1{
  opacity: 1!important;
}



#myExperience .card:last-of-type{
    margin-top: 200px;
}
.card.selectable:hover {
    background-color: rgba(180, 200, 255, 0.5);
    border-top:    2px solid rgba(180, 220, 255, 0.2);
    border-left:   2px solid rgba(180, 220, 255, 0.4);
    border-bottom: 1px solid rgba(180, 220, 255, 0.8);
    border-right:  1px solid rgba(180, 220, 255, 0.8);
}
.card ul{
    list-style: disc;
    display: block;
    padding-left: 1.3rem;
    margin-bottom: 1rem;
}
.card a{
    display: block;
    text-align: right;
    margin: 0 0 0 auto;
    padding: 0.5rem;
}
.card a i{
    font-size: 2rem;
}
button.card{
    display: block;
    font-weight: 400;
    color: #fff;
    font-size: 1.2rem;
    vertical-align: middle;
}
button.card i{
    font-size: 1.7rem;
    vertical-align: middle;
}

#educacion .card{
  background-image: url(../img/backgrounds/stud-card.png);
}

#myExperience .card{
  background-image: url(../img/backgrounds/exp-card.png);
}

#SoftwareUsage .card{
  background-image: url(../img/backgrounds/soft-card.png);
}

#skills .card{
  background-image: url(../img/backgrounds/skill-card.png);
}

.items-wrapper {
  margin: 0 0 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.items-wrapper h4{
  width: 100%;
}

.card-item{
  padding: 1rem;
  display: flex;
  flex-direction: column
}
.card-item h6{
  position: relative;;
  min-height: 75px;
}
.card-item h6:after{
  position: absolute;
  width: 100%;
  font-size: small;
  bottom: 0;
  left: 0;
  transform: translateY(-100%);
}

.card-item.starting h6:after{
  content: 'Iniciando';
}
.card-item.studing h6:after{
  content: 'Estudiandolo';
}
.card-item.basic h6:after{
  content: 'Basico';
}
.card-item.intermedium h6:after{
  content: 'Intermedio';
}
.card-item.advanced h6:after{
  content: 'Avanzado';
}
.card-item.expert h6:after{
  contenido:'experto';
}

.card-item img{
  margin: 1rem auto;
  width: 100%;
  max-width: 200px;
  height: auto;
  max-height: 200px;
  border-radius: 0.5rem;
  box-shadow: 2px 5px 2px rgba(0,0,0,0.5);
}

#video-wrapper{
  display: block;
    width: 100%;
    height: 100%;
    transform: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 0;
    bottom: 0;
}
#videoCover {
  background: url(../img/backgrounds/paper2.jpg);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  pointer-events: none;
}

#fish{
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
    display: block;
    position: fixed;;
    bottom:0;
    opacity: 0;
    transition: all 1s ease-out
    /* z-index:-1; */
}
#fish.active{
  opacity: 0.9;
  transform: translateX(0);

}
canvas{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 1.5s; /* Safari */
            transition: all 1.5s;
}
#video.active{
    opacity: 1;
}
.quote{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20vh;

}

.quote p{
    max-width: 75%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 1em auto 0 auto;

}
.quote p:before{
    content: '– '
}


#portfolio-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    padding: 3rem 2rem 10vh 2rem;
}
#show-portfolio{
    background-color: rgba(251, 176, 59,0.7);
    position: fixed;
    opacity: 0;
    transition: all 1s ease;
    top: 100%;
    transform: translateY(-100%);
    left: 6rem;
}
#show-portfolio.active{
    opacity: 1;
}
#portfolio-modal.active{
    display: block;
}
#portfolio-modal .modal-container{
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

#portfolio-modal .navigationControler a{
    cursor: pointer;
}
#portfolio-modal .btn, #portfolio-modal .btn i, #portfolio-modal .btn .dot{
    font-size: 2rem;
    vertical-align: middle;
    color: #fff;
    text-align: center;
}
#portfolio-modal .navigationControler{
    position: absolute;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 2px;
    background-color: rgba(250, 250, 250, 0.5);
    border-top:    2px solid rgba(200, 220, 250, 0.2);
    border-left:   2px solid rgba(200, 220, 250, 0.4);
    border-bottom: 1px solid rgba(200, 220, 250, 0.8);
    border-right:  1px solid rgba(200, 220, 250, 0.8);
}
#portfolio-modal .navigationControler a{
    background-color: rgba(12, 117, 153, 0.5);
    border-right:  1px solid rgba(255, 255, 255, 1);
    user-select: none;
}
#portfolio-modal .navigationControler a:last-child{
    /*border-right: none;*/
}
#portfolio-modal .btn{
    height: 100%;
}
.navigationControler .dots{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
#portfolio-modal .navigationControler .dot{
    position: relative;
    flex-grow: 1;
    height: 100%;
    width: auto;
    vertical-align: middle;
    line-height: 2rem;
}
#portfolio-modal .dot:hover, #portfolio-modal .btn:hover{
    background-color: rgba(153, 12, 88, 0.4);
}
.navigationControler .dot div{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(153, 12, 88, 1);
    transition: all 0.6s ease;
    z-index: -1
}
.navigationControler .dot.active div{
    width: 100%;
}
.navigationControler .dot div.current, .navigationControler .dot div.used{
    width: 100%;
}
#portfolio-modal .modal-container .items{
    width: 100%;
    display: block;
    position: relative;
    /*overflow-x: scroll;*/
    overflow-y: hidden;
    overflow: hidden;
    clear: both;
}
#portfolio-modal .modal-container .item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}
#portfolio-modal .modal-container .item{
    display: none;
}
.modal-container .items .display{
    overflow: hidden;
}

.modal-container .items .display img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.modal-container .items .info{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}
.modal-container .items .info a{
    margin-left: 1.5rem;
    padding: 5px 5px 5px 2rem;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
    margin-bottom: 5px;
}
.modal-container .items .info a:before{
    font-family: "Material Icons";
    text-decoration: none;
    margin-left: -1.5rem;
}
.modal-container .items .info a:hover{
  background-color: rgba(255,255,255,0.4);
}
.modal-container #webPortfolio .info a:before{
    content: "\e051\00a0";
}
.modal-container #multimediaPortfolio .info a:before{
    content: "\e54d\00a0";
}
.modal-container #printPortfolio .info a:before{
    content: "\e3f4\00a0";
}

.btn.disabled{
    pointer-events: none;
    opacity: 0.3;
}


.modal-container .dot {
    color: #fff;
}


.modal-container .item:nth-child(1) .info{
    background-color: rgba(115, 21, 155, 0.7);
}
.modal-container .item:nth-child(2) .info{

    background-color: rgba(12, 153, 108, 0.7);
}
.modal-container .item:nth-child(3) .info{
    background-color: rgba(255 , 100, 100, 0.7);

}
.modal-container .item:nth-child(4) .info{

    background-color: rgba(100 , 150, 200, 0.7);
}
.modal-container .item:nth-child(5) .info{
    background-color: rgba(200 , 200, 100, 0.7);
}
.experimental{
  background: red !important;
}
